@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-white: #E0E3E6;
  --primary-black: #505050;
  --lapis-lazuli: #276EB0;
  --violet-blue: #3340B0;
  --blue-sapphire: #1B5E7B;
  --medium-sea-green: #27B059;
  --dark-spring-green: #1B7B3E;

  background-color: var(--primary-white);
  color: var(--primary-black);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-synthesis: none;
  line-height: 1.5;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 4.2rem;
}

h2 {
  font-size: 3.15rem;
}

h3 {
  font-size: 2.37rem;
}

h4 {
  font-size: 1.78rem;
}

h5 {
  font-size: 1.35rem;
}

h6 {
  font-size: 1rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
